body{
    margin:0px;
    padding:0px;
}
body *{
    margin:0px;
    padding:0px;
}
.heading{
    height:85px;
    background-image: linear-gradient(to right , #4568dc,#b06ab3);
    font-size:25px;
    font-weight:bold;
    color:white;
}
.heading .a1{
    border:8px solid rgb(34,204,119);
    background:rgb(34,204,119);
    text-decoration: none;
    color:white;
    margin-left:50px;
    font-size:17px;
    border-radius:15px;
    font-weight: normal;
}
.heading .a2{
    border:8px solid #FF3300;
    background:#FF3300;
    text-decoration: none;
    color:white;
    margin-left:20px;
    font-size:17px;
    border-radius:15px;
    font-weight: normal;
}
.heading a:hover{
    font-weight: bold;
}
.content{
    height:680px;
}
.menu{
    float:left;
    width:250px;
    height:100%;
    background-color:rgb(242,249,253);
}
.menu *{
    margin:0px 0px 0px 0px;padding:0px;
}
.cont{
    float:right;
    width:1268px;
    height:100%;
    position: relative;
    background:url("../images/url2.png") no-repeat;
    background-size:cover;
}
.header{
    font-size:20px;
    height:30px;
    text-align:center;
    padding:10px 0;
    background-color:rgb(18,128,184);
    color:white;
}
.nav{
    margin:0px 0px; 
    background-color:rgb(242,249,253);
}
.nav ul{
    list-style-type:none; /* 去除无序列表的标识符 */
}
.nav-list h2{
    height:20px;
    background-color:rgb(242,249,253);
    font-size:15px;
    padding:10px 50px;
    position: relative;
    cursor: pointer;
    border-bottom:1px solid #00B8F5;
}
.nav-list h2:hover{
    background-color:rgb(219, 233, 253);
}
.nav-list img{
    vertical-align:absmiddle;
    margin-bottom:-2px;
}
.hide{
    overflow: hidden;
    transition:0.3s;
    /*border-bottom:1px solid #00B8F5;  */
}
.hide h5{
    height:15px;
    font-size:10px;
    padding:10px 70px;
    background-color:rgb(242,249,253);
    position: relative;
}
.hide h5:hover{
    background:rgb(189, 215, 252);
}
.hide a{
    cursor: pointer;
    font-size:13px;
    text-decoration:none;
    color:black;
    font-weight: normal;
    
}
.hide i{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid black;
    border-bottom: 5px solid transparent;
    position: absolute;
    left:58px;
    top:13px;
}
.top{
    width:100%;
    height:40px;
    background-color:rgb(189, 215, 252);
    font-size:15px;
}
.top a{
    text-decoration:none;
    font-size:15px;
    line-height:40px;
    padding-left:15px;
    color:black;
}
.top img{
    vertical-align:absmiddle;
    margin-bottom:-2px;
    margin-right:5px;
}
.top a:hover{
    font-weight:bold;
}
.modify{
    width:320px;
    height:300px;
    position: absolute;
    top:150px;
    left:450px;
    background-color:rgb(242,249,253);
    filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
}
.image{
    float:left;
    z-index:1;
}
.modify .name-sex{
    height:20px;
    width:150px;
    border-radius: 3px;
    z-index:2;
    margin-top:30px;
    font-weight: bold;
}
.modify .lastinput{
    height:20px;
    width:250px;
    border-radius: 3px;
    z-index:2;
    margin-bottom:10px;
    font-weight: bold;
}
.modify #class{
    height:20px;
    width:258px;
    border-radius: 3px;
    z-index:2;
    outline-style:none;
    margin-bottom:10px;
    margin-left:-8px;

}
#inforform i{
    color:red;
    
    font-style:normal;
}
#inforbtn{
    text-align:center;
    width:80px;
    height:25px;
    font-size:15px;
    text-decoration: none;
    /* 创造上下间距一定的空间 */
    margin: 2px 0;
    /* border透明 (当鼠标悬停时上色) */
    border: solid 1px transparent;
    border-radius: 4px;
    /* 确保字体颜色和背景色有足够区分度! */
    color: #ffffff;
    background-color: rgb(18,128,184);
    cursor:pointer;
}
#inforbtn:hover{
    font-weight: bold;
    color:black;
}